section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("/pexels-geraud-pfeiffer-6605782.jpg"); */
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: 5s infinite changeBackground;
}

@keyframes changeBackground {
  0%,
  100% {
    background-image: url("/pexels-geraud-pfeiffer-6605782.jpg");
  }
  25% {
    background-image: url("/pexels-justus-menke-13982567.jpg");
  }
  50% {
    background-image: url("/pexels-los-muertos-crew-7601399.jpg");
  }
  75% {
    background-image: url("/pexels-los-muertos-crew-7601404.jpg");
  }
}

h1 {
  font-size: 100px;
  background-color: black;
  color: #fff;
}
