/* Reset CSS (DO NOT DELETE) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

span {
  color:#ff4a4a;
}

/* Write your code below */
.header {
  height:90px;
  background-color:#26d0c9;
  color:#fff;
}

.header-logo {
  font-size:36px;
  padding:20px 40px;
  
  float:left;
}

.header-list li{
  float:left;
  padding:33px 20px;
  
}

.main-title {
  padding:100px 80px;
}

.main-title h1 {
  font-size:140px;
}

.main-title h2 {
  font-size:60px;
}

.main-content {
  padding-right:80px;
  padding-left:80px;
  padding-bottom:100px;
  height:500px;
}

.main-content-title {
  font-size:28px;
  padding-bottom:15px;
  border-bottom:2px solid #dee7ec;
}

.main-content-list p {
  font-size:24px;
  padding-top:30px;
 
}

.main-content-list li {
  float:left;
  padding-top:50px;
  padding-right:40px;
}

.main-form {
  padding-bottom:100px;
  padding-right:80px;
  padding-left:80px;
}

.main-form-title {
  font-size:28px;
  border-bottom:2px solid #dee7ec;
  padding-bottom:15px;
  margin-bottom:50px;
}

.main-form-input input, textarea{
  width:400px;
  padding:20px;
  margin-top:10px;
  margin-bottom:30px;
  border:1px solid #dee7ec;
}

.contact-submit {
  color:#889eab;
  background-color:#dee7ec;
  font-size:18px;
}

.footer {
  height:160px;
  background-color:#2f5167;
  color:#fff;
}

.footer-logo {
  float:left;
  padding-left:40px;
  padding-top:40px;
  font-size:50px;
}

.footer-list {
  float:right;
  padding-right:40px;
  padding-top:40px;
}

.footer-list li {
  padding-bottom:20px;
}